<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="../bootstrap2.3.2/css/bootstrap.min.css" rel="stylesheet" />
<title></title>
<link href="../styles/Common.css" rel="stylesheet" />
<link href="../styles/Iframe.css" rel="stylesheet" />
</head>
<body>
	<div class="container-fluid modal">
		<div class="modal-header">
			<h3>what is the next?</h3>
		</div>
		<div class="modal-body">
			<div class="control-group">
				<div class="controls">
				new.aop...
				http://blog.jobbole.com/78960/
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
				http://zzk.cnblogs.com/s?w=blog%3Aluochengqiuse%20%E6%B7%B1%E5%85%A5%E7%90%86%E8%A7%A3Spring%20Redis%E7%9A%84%E4%BD%BF%E7%94%A8
				http://www.jb51.net/article/51624.htm
				</div>
			</div>
			<div class="control-group">
				<div class="controls">2.springmvc interceptor</div>
			</div>
			<div class="control-group">
				<div class="controls">1.mybatis interceptor</div>
			</div>
		</div>
	</div>

	<script src="../scripts/jquery-1.9.1.min.js"></script>
	<script src="../bootstrap2.3.2/js/bootstrap.min.js"></script>
	<script src="../layer-v2.3/layer/layer.js"></script>
	<script src="../laypage-v1.3/laypage/laypage.js"></script>
	<script src="../scripts/Iframe.js"></script>
</body>
</html>
