<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="../../bootstrap2.3.2/css/bootstrap.min.css" rel="stylesheet" />
<title></title>
<link href="../../styles/Common.css" rel="stylesheet" />
<link href="../../styles/Iframe.css" rel="stylesheet" />
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<h4>数据列表</h4>
			<div class="add">
				<a class="btn btn-success" onclick="openadd();">新增</a>
			</div>
			<div class="w">
				<div class="span12">
					<table class="table table-condensed table-bordered table-hover tab">
						<thead>
							<tr>
								<th>姓名</th>
								<th>用户类型</th>
								<th>登录名称</th>
								<th>登录密码</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="tbody"></tbody>
					</table>
					<div id="page" class="tr"></div>
				</div>
			</div>


			<div id="addModal" class="modal hide fade" tabindex="-1"
				role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">新增用户</h3>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<input type="hidden" id="userId" name="userId" />
						<div class="control-group">
							<label class="control-label" for="userName">姓名</label>
							<div class="controls">
								<input type="text" id="userName" name="userName"
									placeholder="姓名">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="userType">用户类型</label>
							<div class="controls">
								<select id="userType" name="userType">
									<option value="0">管理员</option>
									<option value="1">普通用户</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="loginName">登录名称</label>
							<div class="controls">
								<input type="text" id="loginName" name="loginName"
									placeholder="登录名称">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="loginPwd">登录密码</label>
							<div class="controls">
								<input type="password" id="loginPwd" name="loginPwd"
									placeholder="登录密码">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" id="editRole"
						onclick="editRole();">设置角色</button>
					<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
					<button class="btn btn-primary" id="add" onclick="add();">保存</button>
					<button class="btn btn-primary" id="edt" onclick="add();">保存</button>
				</div>
			</div>

			<div id="roleModal" class="modal hide fade" tabindex="-1"
				role="dialog" aria-labelledby="roleModalLabel" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="roleModalLabel">编辑角色</h3>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<ul id="roleList">
						</ul>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" id="closeRoleEdit"
						onclick="closeRoleEdit();">确定</button>
				</div>
			</div>
		</div>
	</div>

	<script src="../../scripts/jquery-1.9.1.min.js"></script>
	<script src="../../bootstrap2.3.2/js/bootstrap.min.js"></script>
	<script src="../../layer-v2.3/layer/layer.js"></script>
	<script src="../../laypage-v1.3/laypage/laypage.js"></script>
	<script src="../../scripts/UserEdit.js"></script>
</body>
</html>
